In [1]:
import numpy as np
import pandas as pd

In [ ]:
coco_df = pd.read_csv("MS_COCO_2017_links_captions_tags_0-75000.csv")
coco_df = coco_df[["image_id", "tags", "confidence_scores"]]
coco_df.head()

,image_id,tags,confidence_scores
0,203564,bicycle | clock | white | black | wall | wall ...,"[0.9999895095825195, 0.999981164932251, 0.8835..."
1,322141,bathroom | sink | wall | faucet | bathroom acc...,"[0.999955415725708, 0.99992835521698, 0.968207..."
2,16977,car | bench | park | road | sedan | sit | park...,"[0.9999231100082397, 0.9998983144760132, 0.977..."
3,106140,plane | sky | fly | land | water | take | whit...,"[0.9999842643737793, 0.9638943672180176, 0.956..."
4,571635,bathroom | toilet bowl | sink | bathroom acces...,"[0.9999809265136719, 0.9998869895935059, 0.999..."

In [4]:
embeddings_parts = [
    "Embeddings/coco_embeddings_768_part_1.parquet",
    "Embeddings/coco_embeddings_768_part_2.parquet",
    "Embeddings/coco_embeddings_768_part_3.parquet"
]

embeddings_df = pd.concat(
    [pd.read_parquet(path, columns=["image_id", "avg_caption_embedding"]) for path in embeddings_parts],
    ignore_index=True
)
embeddings_df.head()

   image_id                              avg_caption_embedding
0    203564  [-0.0007135845953598619, 0.002707877429202199,...
1    322141  [0.022635236382484436, -0.018114957958459854, ...
2     16977  [0.004483063705265522, -0.004469511564821005, ...
3    106140  [0.0016963969683274627, 0.024761024862527847, ...
4    571635  [0.0051090167835354805, -0.014415529556572437,...

In [5]:
merged_df = pd.merge(coco_df, embeddings_df, on="image_id", how="inner")
print("Merged dataset shape:", merged_df.shape)

Merged dataset shape: (75000, 4)

In [6]:
merged_df.head()

,image_id,tags,confidence_scores,avg_caption_embedding
0,203564,bicycle | clock | white | black | wall | wall ...,"[0.9999895095825195, 0.999981164932251, 0.8835...","[-0.0007135845953598619, 0.002707877429202199,..."
1,322141,bathroom | sink | wall | faucet | bathroom acc...,"[0.999955415725708, 0.99992835521698, 0.968207...","[0.022635236382484436, -0.018114957958459854, ..."
2,16977,car | bench | park | road | sedan | sit | park...,"[0.9999231100082397, 0.9998983144760132, 0.977...","[0.004483063705265522, -0.004469511564821005, ..."
3,106140,plane | sky | fly | land | water | take | whit...,"[0.9999842643737793, 0.9638943672180176, 0.956...","[0.0016963969683274627, 0.024761024862527847, ..."
4,571635,bathroom | toilet bowl | sink | bathroom acces...,"[0.9999809265136719, 0.9998869895935059, 0.999...","[0.0051090167835354805, -0.014415529556572437,..."

In [ ]:
merged_df.to_parquet("Dataset/MS_COCO_2017_tags_embeddings.parquet", index=False)